{
    "tabWidth": 4,
    "useTabs": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 100,
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "svelteSortOrder": "options-scripts-markup-styles",
    "svelteStrictMode": false,
    "svelteIndentScriptAndStyle": true,
    "plugins": ["prettier-plugin-svelte"],
    "pluginSearchDirs": ["."],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ]
} 